.section-title {
    margin-bottom: 5px;
}

.tui-editor-contents table th {
    background-color: transparent;
}

.tui-editor-contents table td {
    border: 1px solid #aaa;
}

.tui-editor-contents table {
    border: 1px solid #aaa;
}

.tui-editor-contents table th {
    color: black;
}
