.quiz-card-cross {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
}

.quiz-card {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 240px;
}

.quiz-card .radio {
    margin: 0 0 5px;
    display: flex;
    word-break: break-all;
}

.quiz-card .radio > input {
    margin-right: 5px;
}

.success-message {
    color: darkgreen;
    margin-bottom: 15px;
}

.error-message {
    color: darkred;
    margin-bottom: 15px;
}

.quiz-card .card-header-title {
    word-break: break-all;
}

.quiz-card .button.is-danger {
    min-width: 64px;
    margin: 10px
}

.quiz-card hr {
    border: 1px solid #f0f0f0;
    margin: 10px 10px;
}
