.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-content {
    flex: 1;
    margin-top: 40px;
    padding: 20px;
}

.footer {
    padding: 40px;
}

.container {
    margin-top: 60px;
}

.navbar-title {
    margin-left: 10px;
}
