.title-anim {
    margin-bottom: 60px;
    text-align: center;
}

hr {
    border: 1px solid #ccc;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}
@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}


.word-of-the-day-section {
    margin-bottom: 40px;
    min-height: 260px;
}


.categories-section {
    margin-bottom: 40px;
    min-height: 140px;
}

.categories-section > div {
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
}

.tags-section {
    padding: 0.75rem;
}

.field.is-grouped {
    flex-wrap: wrap;
}

.field.is-grouped > .control:not(:last-child) {
    margin-bottom: 0.5rem;
    margin-right: .5rem;
}

.control {
    margin-bottom: 0;
}

.pagination-button {
    margin: 10px;
}

