@charset "utf-8";

/*
  Bulma Default SASS Variable Overrides
  https://bulma.io/documentation/customize/variables/
 */

// Colors
$beige-lighter: #eff0eb;

// Global
$body-background-color: $beige-lighter;
$info: #2ac8da;

// Navbar
$navbar-background-color: #2ac8da;
$navbar-item-color: white;

// Cards
$card-content-padding: 0.75em;
$card-footer-padding: 1em;

// Tabs
$tabs-toggle-link-active-background-color: $info;
$tabs-toggle-link-active-border-color: $info;

@import '~bulma/bulma.sass';

/*
  Bulma CSS Class Overrides
 */

.container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.link {
  display: flex;
}

.navbar {
  z-index: 1000;
}

.navbar-title {
  margin-left: 10px;
}